<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    </head>
    <body style="font-family: 'Noto Sans', sans-serif;">

        <table width="600px" style="margin:0 auto; padding:0;"> 
            <tr>
                <td>
                    <table style="width: 100%; background:#ffffff;margin:0 auto;">
                        <tr style="text-align:center;">
                            <td><img src="$server/$banner" style="width:100%; max-width:600px; " ></td>
                        </tr> 
                        <tr style="text-align:center;">
                            <td style="background:#11153b; color:#ffffff; margin: 0; padding:0;"><p>Datos de acceso</p></td>
                        </tr>
                        <tr>
                            <td style="text-align:center; padding-left: 15px; padding-right: 15px; margin-top:20px;">
                                <p style="text-align: justify; font-size: 14px;">Valoramos tu tiempo cuando te recordamos tus datos de ingreso a la plataforma SGO:</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width:500px;margin:0 auto; text-align:left;" cellspacing="0">
                                    <tr>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:100px; background: #CFD8DC;"><p style="margin:5px; color: #263238; font-size:15px;"><strong>Nombre:</strong></p></td>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:400px; background: #ECEFF1;"><p style="margin:5px; color: #263238; font-size:15px;">$nombre</p></td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:100px; background: #CFD8DC;"><p style="margin:5px; color: #263238; font-size:15px;"><strong>Email:</strong></p></td>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:400px; background: #ECEFF1;"><p style="margin:5px; color: #263238; font-size:15px;">$usuario</p></td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:100px; background: #CFD8DC;"><p style="margin:5px; color: #263238; font-size:15px;"><strong>Contrasena:</strong></p></td>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:400px; background: #ECEFF1;"><p style="margin:5px; color: #263238; font-size:15px;">$password</p></td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr style="width:90px;">
                            <td style="text-align:center; "><p style="margin-top: 40px;"><a href="http://sgo.iammagis.com" style="padding:10px 15px 10px 15px; background:#11153b;color:#ffffff; text-decoration:none;  border-radius: 50px; font-size: 13px; ">Ingresar a la plataforma</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width:500px;margin:20px auto; text-align:left;" cellspacing="0">
                                    <tr>
                                        <td rowspan="2"><img src="$server/img/template/alert-icon-email.png"></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0;"><p style="margin:0px 15px; color: #263238; font-size:12px; text-align:justify;">Si surge alguna duda puedes comunicarte con nuestro equipo de soporte escribiendo a <span style="color: #F57C00; text-decoration: none;">soporte@iammagis.com</span></p></td>
                                    </tr>
                                </table>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <table width="550px" style="background:#ffffff; margin:0 auto;">
                                    <tr>
                                        <td style="text-align: center; width:450px">
                                            <p style="margin-top: 0px;"><a href="http://autopagos.co" style="color:#11153B; text-decoration:none;  font-size: 13px; ">www.sgo.iammagis.com</a></p>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="https://www.instagram.com/iam.magis/"><img src="$server/img/template/icon-instagram-email.png" style=" margin-top: 0px;" ></a>
                                        </td>

                                        <td style="text-align: center;">
                                            <a href="https://www.instagram.com/iammagis/"><img src="$server/img/template/icon-facebook-email.png" style=" margin-top: 0px;" ></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hr style="width:100%; max-width: 550px; color: #90A4AE;" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: center; font-size: 10px; color: #11153B;">
                                    <span >IAMMAGIS SAS // MEDELLÍN-COLOMBIA</span>
                                </p>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>

        </table>

    </body>
</html>


